# =====================================================
# DATASET
# =====================================================
dataset/
*.csv

# =====================================================
# MODEL FILES
# =====================================================
*.pkl

# =====================================================
# OUTPUT LOGS
# =====================================================
alerts.log
*.log

# =====================================================
# PYTHON
# =====================================================
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/

# =====================================================
# MÔIT TRƯỜNG ẢO (Virtual Environment)
# =====================================================
venv/
env/
.env/
.venv/
ENV/

# =====================================================
# VSCODE
# =====================================================
.vscode/
*.code-workspace


# =====================================================
# HỆ ĐIỀU HÀNH
# =====================================================

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# =====================================================
# BIẾN MÔI TRƯỜNG
# =====================================================
.env
.env.local
secrets.py
config_secret.py